
/*Base*/

*,::before,::after{
	box-sizing: border-box;}


html {
	scroll-behavior: smooth;}


body {
	margin: 48px 16px 16px 16px;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	color: #0E2431;
}


h1, h2, p {
	margin: 0;}


ul {
	margin:0;
	padding: 0;
	list-style: none;}  /*Sin llamadas en la lista*/


a {
	text-decoration: none!important; /*Sin el subrayado para los links*/
}

a:hover {
	color: #23527c;
}


img {
	max-width: 100%;
	height: auto;
	display: block;
}



/* Clase CSS*/
.section-title {
	position: relative;
	font-size: 20px;
	color: #4070F4;
	margin-top: 40px;
	margin-bottom: 32px;
	text-align: center;
	font-weight: bold;
}


.section-title::after{
	position: absolute;
	content: "";
	width: 64px;
	height: 2.9px;
	left: 0;
	right: 0;
	margin: auto;
	top: 32px;
	background: #4070F4;
}




section {	
    padding-top: 32px;
    margin-bottom: 32px
}


/* Layout */
.grid {
	display: grid;
	grid-template-columns: 100%;
	grid-column-gap: 32px;
	width: calc(100% - 32px);
	margin-left: 16px;
	margin-right: 16px;
}


.l-header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	background: #0E2431;
	box-shadow: 0 1px 4px rgba(146, 161, 176, .15);
}


/* Nav*/
.barra_nav {
	height: 48px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 600;
	background: #0E2431;
	color: #fff;
}


/* Dispositivos pequeños*/
@media screen and (max-width: 768px) {

	.nav_menu {
		position: fixed;
		top: 48px;
		right: -100%;
		width: 80%;
		height: 100%;
		padding: 32px;
		background-color: #0E2431;
		transition: 0.5s;
	}

}


.nav_item {
	margin-bottom: 32px;

}


.menu_link {
	position: relative;
	color: #fff;
}


.menu_link:hover {
	position: relative;
}


.menu_link:hover::after{
	position:absolute;
	content: "";
	width: 100%;
	height: 2.9px;
	left: 0;
	top: 32px;
	background: #4070F4;
}



.nav_logo {
	color: #fff; 
}


.menu_icon {
	color: #fff;
	font-size: 24px;
	cursor: pointer; /*Le pongo la manito al pasar el mouse*/
}





/* Menu*/

.active::after {
	position: absolute;
	content:"";
	width: 100%;
	height: 2.9px;
	left: 0;
	top: 32px;
	background: #4070F4;	
}


/*Mostrar Menu*/

.show {
	right: 0;
}




/* HOME */

.home_data{
  align-self: center;
}

.home_title{
  font-size: 32px;
  margin-bottom: 16px;
  margin-top: 48px;
}

.home_title-color{
  color: #4070f4;
}


.home_subtitle{
	margin-bottom: 32px;
}

.home_social{
  display: flex;
  flex-direction: row;
}

.home_social-icon{
  width: max-content;
  margin-bottom: 16px;
  font-size: 32px;
  color: #0E2431;
}

.home_social-icon:hover{
  color: #4070F4;
}



.home_img{
  position: relative;
  right: 0;
  bottom: 0;
  width: 195px;
  align-self: flex-end;
}


.home_img img {
	border-radius: 100%;
	max-width: 65%;
}


/*BOTON DE CV*/
.button{
  display: inline-block;
  background-color: #4070F4;
  color: #fff;
  padding: 12px 40px;
  font-weight: 600;
  border-radius: 8px;
}
.button:hover{
  box-shadow: 0 10px 36px rgba(0,0,0,.15);
}

.button a {
	color: #fff;
}


/* ===== ABOUT =====*/

.about_container{
  grid-row-gap: 32px;
  text-align: center;
}
.about_subtitle{
  margin-bottom: 16px;
}
.about_img{
  justify-content: center;
}
.about_img img{
  width: 200px;
  border-radius: 8px;
}



/* ===== SKILLS =====*/
.skills_container{
  grid-row-gap: 32px;
  text-align: center;
}

.skills_subtitle{
  margin-bottom: 16px;
}

.skills_text{
  margin-bottom: 32px;
}

.skills_data{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: 600;
  padding: 8px 16px;
  margin-bottom: 32px;
  border-radius: 8px;
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
}

.skills_names img{
  font-size: 32px;
  margin-right: 16px;
  color: #4070F4;
}

.skills_names{
  display: flex;
  align-items: center;
}


.skills_names img {
	height: 48px;
}

img#html-css {
	height: 30px;
}

.skills_name {
	height: 40px;
	margin-top: 20px;
}

.skills_bar{
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #4070F4;
  height: 4px;
  border-radius: 8px;
  z-index: -10;
}


.skills_img{
  border-radius: 8px;
}



/* ===== PROJECTS =====*/
.projects_container{

  grid-row-gap: 32px; /*Separación entre los elementos*/
}


/* Contenedor de imágenes*/
.project_img{
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
  border-radius: 8px;
  overflow: hidden; /*No mostrará barra de desplazamiento en la caja*/
  position: relative;
  display: flex;
  align-items: center; 
  cursor: pointer;

}


/* Lineas blancas del hover */
.project_img:before, .project_img:after {
	content: "";
	position: absolute;
	width: calc(100% - 30px);
	height: 4px;
	background: #326c8f;
	opacity: 0.7;
	transition: all .3s;
}


.project_img:before {left: -100%; top: 10px}

.project_img:after {left: 100%; bottom: 10px}


/* Efecto de las lineas*/
.project_img:hover:before, .project_img:hover:after {left: 15px;}



.project_img img{
  transition: 1s;
  cursor: pointer;
  height: 250px;
  width: 500px;

}


/*efecto agrandado de imagen al pasar el cursor
.project_img img:hover{
  transform: scale(1.1);  
}
*/

.img_text {
	text-align: center;
	position: absolute;
	transition: all .3s;
	transform: scale(1.2);
	opacity: 0;
	margin: 0 28%;
	
}


.img_text h1 a {
	color: #326c8f;
}


/* Hover (efecto) del texto*/
.project_img:hover .img_text{
	transform: scale(1);
	opacity: 1;
}


.project_img:hover img {
	opacity: 0.2;
}





/* ===== CONTACT =====*/
.contact_input{
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  padding: 16px;
  border-radius: 8px;
  border: 1.5px solid #0E2431;
  outline: none;
  margin-bottom: 32px;
}

.send{
  display: block;
  border: none;
  outline: none;
  font-size: 15px;
  cursor: pointer;
  margin: auto;
  width: 105%;
}


.contact_section {
	text-align: center;
}

.contact-sub {
	color: #0E2431;
	
}




/* ===== RESOURCES =====*/

.resources {
	margin: 3%;
}

.resources p {
	font-size: 15px;
	padding: 10px;
}


.rec {
	display: flex;
	column-gap: 30px;
	margin-bottom: 10%;

}


.resources_link.button{
	margin: 5px 10px 15px 10px;
	padding: 5px 40px 5px 40px;
	text-align: initial;
}

.resources_link a{
	font-size: 15px;
}




/* ===== FOOTER =====*/
.footer{
  background-color: #0E2431;
  color: #fff;
  text-align: center;
  font-weight: 600;
  padding: 20px 0;
}

.footer_title{
  font-size: 25px;
  margin-bottom: 20px;
}

.footer_social{
  margin-bottom:20px;
}

.footer_icon{
  font-size: 24px;
  color: #fff;
  margin: 0 16px;
}



/* ===== PROJECTS - Configuración general =====*/

.dash_title{
	margin: 64px 0 16px 16px;
}

.dash_title h4 {
	text-align: center;
	color: #326c8f;
}



.dash_title h4 {
	 	margin-top: 50px
}



.dash_title p{
	text-align: initial;
	margin: 2% 2% 6% 2%;
	font-size: 15px;
}




.dash {
	width: 90%;
	margin: auto;
}

.dash iframe{
	margin: auto;
	width: 100%;
	height: 600px;
}


.dash_mobile iframe{
	margin: auto;
	width: 100%;
	height: 400px;
}

.download_pbix {
	margin: 48px 0 16px 16px;
} 


.demo_video {
	width: 80%;
	height: 450px;
	margin-left:10%;
}




/* ===== PROJECTS - Carrusel =====*/



.carousel_container {
	width: 80%;
	margin:auto;
}


#myCarousel {
	height: 500px
}


#myCarousel img {
	height: 500px;
}


.carousel-indicators li {
	background-color: #4070F4!important;
	opacity: 0.3;
	}

.carousel-indicators .active {
	background-color: #4070F4!important;
	opacity: 1;
}

.carousel-indicators .active:after {
	opacity: 0;
}

.carousel-inner .active:after {
	opacity: 0;
}



.carousel-control-prev, .carousel-control-next {
	opacity: 0.8;
}

.carousel-control-prev-icon {
	background-image: url("../img/back_icon - copia.png")!important;
}


.carousel-control-next-icon {
	background-image: url("../img/next_icon.png")!important;
}





/* ===== DEVICES =====*/

/*
Pantalla resolución standard (Ejemplo:; 1366 x 768 px)
*/
@media screen and (min-width: 1024px) and (max-width: 1439px){
  
 	.home {
  		padding-left: 32px;
	}

 	.home_data {
		padding-left: 30%;
		padding-bottom: 30%;
	}



	.home_img {
	    margin:auto;
	    padding-bottom: 100px;
	}


	.grid{
	margin-left: auto;
	margin-right: auto;
	}

	
	.about_img img{
    width: 80%;
    padding-left: 10%
 	}

	.project_img img {
	    height: 210px;
	}
}



/* Pantallas resolución alta */
@media screen and (min-width: 1440px) {

	.home_data {
		padding-left: 30%;
		padding-bottom: 25%;
	}



	.home_img {
		width: 80%!important;
		margin: auto;
		padding-bottom: 80px;
	}

	.about_img img{
	    width: 80%;
	    padding-left: 20%
 	}

}


/*Pantallas resolución muy alta*/
@media screen and (min-width: 1651px) {

	
	.home_img {
		width: 65%!important;
		padding-bottom: 120px;
	}

}



/*Dspositivos Medianos (no Celular/Tablet) */
@media screen and (min-width: 769px) {
  
  body{
    margin: 0;
  }



  .section-title{
    margin-bottom: 48px;
  }

  .section-title::after{
    width: 80px;
    top: 35px;
  }

  .barra_nav{
    height: calc(48px + 16px);
  }

  .menu_list{
    display: flex;
    padding-top: 0;
  }

  .nav_item{
    margin-left: 48px;
    margin-bottom: 0;
  }

  .menu_icon{
    display: none; /*El desplegable solo para mobile*/
  }

  .menu_link{
    color: #fff;
  }


  .home{
  height: calc(450px - 48px);
  grid-row-gap: 16px;
  margin-bottom: 48px;
  margin-top: 32px;
  }

  .home_data{
    align-self: flex-end;
  }

  .home_social{
    padding-top: 0;
    padding-bottom: 40px;
    flex-direction: row;
    align-self: flex-end;
  }

  .home_social-icon{
    margin-bottom: 0;
    margin-right: 32px;
  }

  .home_img{
    width: 95%;
  }

  .about_section, .skills_section, .projects_section, .contact_section {
	padding: 32px;
   }


  .home, .about_container, .skills_container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: initial;
  }

 	

  #img2 {
  	display: none;
  }



  .projects_container{
    grid-template-columns: repeat(3, 1fr);  /*ancho cuadrantes*/
    grid-template-rows: repeat(2,1fr);      /*alto de cuandrantes*/
    column-gap: 32px;

  }


   .rec {
  	grid-template-columns: repeat(4,1fr);
  	text-align: initial;
  	align-items: center;
  }

  .contact_form{
    width: 560px;
    margin: auto;
  }

  .contact_container{
    justify-content: center;
  }


  /*Projects*/
	.dash_mobile iframe {
	display: none
	}


}



/*  Dispositivos móviles (smartphones y tablets*/
@media screen and (max-width: 768px) {


	.home_img img {
		display: none!important;}


	.home {
		grid-row-gap: 48px;
	}

	.grid {
		grid-row-gap: 16px;
	}


	.home_social-icon {
		padding: 5px;
	}


	
	#img1 {
		display: none;
	}


	#img2 {
		width: 60%;
		margin: auto;
	}

	.skills_img {
		display: none;
	}

	.project_img img {
	    height: 310px;
	    width: 100%;
	    opacity: 0.2;
	}


	.img_text {
	font-size: 13px;
	opacity: 1;
	}
	
	
	
	.contact_input {
		margin: 8px;
		width: 90%;
	}

	.home_social {
	    display: flex;
	    flex-direction: row;
	    padding-top: 29px;
	}

	.send {
	 	margin: auto;
	 	width: 80%;
	 }

	 .dash_section {
		padding-top: 0;
	 }


	 .dash_title {
	 	margin: 64px 0 0 0;
	 }

	 .dash_title h1{
	 	padding-top: 16px;

	 }


	 .dash_title p {
	 	text-align: justify;
	 }



	 .dash {
	display: none
	}


	.demo_video {
		width: 95%;
		height: 320px;
		margin: auto;
	}


	.carousel_container {
		width: 95%;
	}


	#myCarousel {
		height: 320px;
	}


	#myCarousel img {
    height: 320px;
	}


	.rec {
		display: inline-block;
		text-align: center;
	}


	.rec_box {
		margin-top: 15px;
	}



}



@media screen and (max-width: 425px) {
		

	#img2 {
		width: 70%;
		
	}

	.project_img img {
	    height: 190px;
	}


	.send {
	 	margin-left: 13%;}



	.demo_video {
		width: 95%;
		height: 250px;
		margin: auto;
	}


	#myCarousel {
		height: 250px;
	}


	#myCarousel img {
    height: 250px;
	}

	
}


@media screen and (max-width: 375px ) {


	.skills_name {
		font-size: 14px;
	}


	.skills_percentage {
		font-size: 14px;
	}

	#dptos_title::after{
	    width: 80px;
	    top: 55px;
  }

}

